<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>SignupServlet</servlet-name>
        <servlet-class>controller.SignupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>uploadServletNew</servlet-name>
        <servlet-class>image.uploadServletNew</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateDatabase</servlet-name>
        <servlet-class>Database.CreateDatabase</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignupServlet</servlet-name>
        <url-pattern>/SignupServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>uploadServletNew</servlet-name>
        <url-pattern>/uploadServletNew</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateDatabase</servlet-name>
        <url-pattern>/CreateDatabase</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
